.header{
    font-family: 'Oleo Script', cursive;
    color: #ff3f6c;
}
.bg{
    background: linear-gradient(to right,#ffafbd , #ffc3a0
   );
}
.navbar{
    background: linear-gradient(to top, #000428 , #004e92);
    color: white;
    font-family: 'Rye', cursive;
}
.tot{
    background-color: #fdefe8;
}